.App {
  text-align: center;
  flex-direction: row;

  justify-content: center;
}

* {
  border: 1px solid black;
}

.flexbox-container {

  display: flex;
}

.newsFeed {

  width: 75%;
  display: flex;
  flex-wrap: wrap;
}

/* Article ruleset */
.article {
  width: calc(33.33% - 20px); /* Adjust width as needed */
  margin: 5%;
}

.article-link, .article-content {

  border-radius: 10px;
  text-decoration: none;

  color: black;
  
}

.articleImage {

  width: 100%;
}

.articleImage > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article-content {

  flex-direction: column;
  justify-content: center;
}

.articleText {

  width: 100%;
  flex-direction: column;
  justify-content: center;
}