/* Navbar component ruleset */

.navbar {

    flex-direction: column;
    width: 20%;
  }
  
  .dateTime {
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .topics > nav {
  
    flex-direction: column;
  
    align-items: center;
  }
  
  nav > a {
    width: 50%;

    padding: 2%;
    margin: 1%;

    border-radius: 20px;

    overflow: hidden;
  }